@using System.Collections;
@using CNPMNC_REPORT1.Prototype;
@{
    ViewBag.Title = "ChonGhe";
    Layout = "~/Views/Shared/_Layout.cshtml";
    char checkNor = 'F';
    ArrayList getLichChieu = ViewBag.getChair_STT as ArrayList;

    var buttonPrototype = new ButtonConcrete();
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .container_info_booking_chair {
            font-family: Arial;
        }

        .ticket_container {
            display: flex;
            flex-basis: 70%;
            justify-content: center;
            background-color: #85C48A;
            padding: 20px;
            border-radius: 5px;
        }

        .price_container {
            flex-basis: 30%;
            padding: 10px;
        }

        .ticket_container .listchair_cover {
            display: flex;
            padding: 20px;
            background-color: #fff;
            width: 100%;
            justify-content: center;
            border-radius: 10px;
        }

            .ticket_container .listchair_cover .listchair_inside {
                background-color: #F2F2F2;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

        .listchair {
            display: flex;
            width: fit-content;
            margin: 10px;
        }

        .chair.picker, .chair.picked {
            height: 35px;
            width: 40px;
            cursor: pointer;
            background-color: #fff;
            border: 0.5px solid #C4C4C4;
            border-radius: 5px;
            margin: 0px 5px;
            text-align: center;
            vertical-align: middle;
            line-height: 30px; /* Đặt giá trị cao gấp đôi của chiều cao của thẻ để căn giữa */
            height: 30px; /* Đảm bảo chiều cao của thẻ */
        }

        .chair.picked, .picked.chair.vip {
            background-color: #353535;
            color: #fff;
        }

        .chair {
            height: 25px;
            width: 25px;
            cursor: pointer;
            background-color: #fff;
            border: 0.5px solid #C4C4C4;
            border-radius: 5px;
            margin: 0px 5px;
        }

            .chair.vip {
                background-color: #C58940;
            }

            .chair.selected, .chair.selected {
                background-color: #B3B3B3;
            }

        .price_container {
            text-align: center;
            padding: 0px 10px;
            display: flex;
            flex-direction: column;
        }

            .price_container .price_ticket {
                border: 0.5px solid #C4C4C4;
                border-radius: 5px;
                padding: 5px;
                box-sizing: border-box;
                margin-bottom: 10px;
            }

        .big-text {
            font-size: 1.75rem;
            font-weight: bolder;
            text-transform: uppercase;
        }

        .small-text {
            font-size: 1.2rem;
            text-align: left;
        }

        .title_text {
            margin-top: 5px;
            width: 100%;
        }

        .ticket_chair {
            display: inline-block;
            border: 0.5px solid #C4C4C4;
        }

        .chair.d-inline-block {
            margin-left: 0;
        }

        .chair_type {
            display: flex;
            align-content: center;
            margin-top: 10px;
        }

        .screen {
            height: 10px;
            width: 100%;
            background-color: #E41E3F;
            border-top-right-radius: 75%;
            border-top-left-radius: 75%;
        }

        .button {
            background-color: #353535;
            box-sizing: border-box;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 15px;
        }

            .button * {
                color: white;
            }
    </style>
</head>
<body>
    <br />
    <div class="container d-flex container_info_booking_chair">
        <div class="ticket_container">
            <div class="listchair_cover">
                <div class="listchair_inside">
                    @if (ViewBag.getChair.Count != 1)
                    {
                        <div style="width: 100%; display: flex; justify-content: space-between; margin: 5px 10px; box-sizing: border-box;">
                            @if (ViewBag.Page == ViewBag.MinPage)
                            {
                                <a class="button" href="@Url.Action("ChonGhe", "Booking", new {stt = ViewBag.MaxPage, MaPhim = ViewBag.getChair_STT[6], Time = ViewBag.getChair_STT[9], Date = ViewBag.getChair_STT[1], Type = ViewBag.getChair_STT[10]})" style="margin-left: 10px;"><i class="bi bi-caret-left-fill" style="font-size: 20px"></i></a>
                            }
                            else
                            {
                                <a class="button" href="@Url.Action("ChonGhe", "Booking", new {stt = (int.Parse(ViewBag.Page) - 1).ToString(), MaPhim = ViewBag.getChair_STT[6], Time = ViewBag.getChair_STT[9], Date = ViewBag.getChair_STT[1], Type = ViewBag.getChair_STT[10]})" style="margin-left: 10px;"><i class="bi bi-caret-left-fill" style="font-size: 20px"></i></a>
                            }

                            <span style="display: flex; align-items: center;height: 100%; margin: 0">PHÒNG @ViewBag.Page</span>

                            @if (ViewBag.Page == ViewBag.MaxPage)
                            {
                                <a class="button" href="@Url.Action("ChonGhe", "Booking", new {stt = "1", MaPhim = ViewBag.getChair_STT[6], Time = ViewBag.getChair_STT[9], Date = ViewBag.getChair_STT[1], Type = ViewBag.getChair_STT[10]})" style="margin-right: 10px;"><i class="bi bi-caret-right-fill " style="font-size: 20px"></i></a>

                            }
                            else
                            {
                                <a class="button" href="@Url.Action("ChonGhe", "Booking", new {stt = (int.Parse(ViewBag.Page) + 1).ToString(), MaPhim = ViewBag.getChair_STT[6], Time = ViewBag.getChair_STT[9], Date = ViewBag.getChair_STT[1], Type = ViewBag.getChair_STT[10]})" style="margin-right: 10px;"><i class="bi bi-caret-right-fill " style="font-size: 20px"></i></a>

                            }

                            @*<a class="button" href="#" style="margin-right: 10px;"><i class="bi bi-caret-right-fill " style="font-size: 20px"></i></a>*@
                        </div>
                    }

                    <div class="container">
                        <div class="screen" style="margin-top: 10px"></div>
                        <div style="text-align: center; width: 100%; font-weight: bolder">SCREEN</div>
                    </div>


                    <br />
                    @for (char i = 'A'; i <= 'A' + ((int.Parse(ViewBag.getChair_STT[7]) - 1) / 10); i++)
                    {
                        <div class="container listchair">
                            @for (int j = 1; j <= 10; j++)
                            {
                                bool check1 = true, check2 = true;
                                foreach (var item in ViewBag.ListPickedChair)
                                {
                                    if (item[2].Trim() == (i.ToString() + j.ToString()))
                                    {
                                        check1 = false;
                                        break;
                                    }
                                }
                                foreach (var item in ViewBag.MementoList)
                                {
                                    if (item.ToString().Trim() == (i.ToString() + j.ToString()))
                                    {
                                        check2 = false;
                                        break;
                                    }
                                }

                                var button = buttonPrototype.Clone() as ButtonPrototype;
                                button.ID = $"{i}{j}";
                                button.Text = $"{i}{j}";
                                button.Class = check1 ? (check2 ? "picker chair" : "picker chair selected") : "picked chair";

                                <button id="@button.ID" class="@button.Class">@button.Text</button>
                            }
                        </div>
                    }

                    @{
                        var vipButtonPrototype = new ButtonConcrete();
                    }

                    @for (char i = checkNor; i <= checkNor + ((int.Parse(ViewBag.getChair_STT[8]) - 1) / 10); i++)
                    {
                        <div class="container listchair">
                            @for (int j = 1; j <= 10; j++)
                            {
                                bool check1 = true, check2 = true;
                                foreach (var item in ViewBag.ListPickedChair)
                                {
                                    if (item[2].Trim() == ("VIP_" + i.ToString() + j.ToString()))
                                    {
                                        check1 = false;
                                        break;
                                    }
                                }
                                foreach (var item in ViewBag.MementoList)
                                {
                                    if (item.ToString().Trim() == ("VIP_" + i.ToString() + j.ToString()))
                                    {
                                        check2 = false;
                                        break;
                                    }
                                }

                                var vipButton = vipButtonPrototype.Clone() as ButtonPrototype;
                                vipButton.ID = $"{i}{j}";
                                vipButton.Text = $"{i}{j}";
                                vipButton.Class = check1 ? (check2 ? "picker chair vip" : "picker chair selected vip") : "picked chair vip";

                                <button id="@vipButton.ID" class="@vipButton.Class">@vipButton.Text</button>
                            }
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="price_container">
            <div class="price_ticket">
                <h6 style="font-weight: bolder;">Loại ghế</h6>
                <div class="container d-flex justify-content-around " style="margin: 10px 0px; flex-direction: column">
                    <div class="chair_type">
                        <a class="chair d-inline-block"></a>
                        <div class="d-inline-block">Còn trống</div>
                    </div>
                    <div class="chair_type">
                        <a class="chair d-inline-block" style="background-color: #353535;"></a>
                        <div class="d-inline-block">Đã đặt</div>
                    </div>
                    <div class="chair_type">
                        <a class="chair d-inline-block" style="background-color: #B3B3B3;"></a>
                        <div class="d-inline-block">Đã chọn</div>
                    </div>
                    <div class="chair_type">
                        <a class="chair d-inline-block" style="background-color: #C58940;"></a>
                        <div class="d-inline-block">Ghế VIP</div>
                    </div>
                </div>
            </div>
            <div class="price_ticket">
                <h6 style="font-weight: bolder;">Vé đã đặt</h6>
                <div class="container d-flex justify-content-around " style="margin: 10px 0px; flex-direction: column">
                    <span style="text-align: left; font-weight: bolder">Giá tiền: </span>
                    <span id="price_chair" style="text-align: left;">0 ₫</span>

                    <span style="text-align: left; font-weight: bolder">Ghế: </span>
                    <span id="picked_chair" style="text-align: left;"></span>
                </div>
            </div>
            <div onclick="ShowTicket()" class="btn btn-outline-success" style="margin-right: 0px;">ĐẶT NGAY</div>
        </div>
    </div>

    <script type="text/javascript">
        var buttons = document.querySelectorAll('.chair.picker');
        // Bắt đầu lấy ghế lưu tạm
        var getPickedChair1 = @Html.Raw(Json.Encode(ViewBag.MementoList));

        // Chuyển đổi danh sách ViewBag.MementoList thành một mảng JavaScript
        var mementoListArray = [];
        for (var i = 0; i < getPickedChair1.length; i++) {
            mementoListArray.push(getPickedChair1[i]);
        }

        // Gán cho chuỗi giá trị đã lưu
        var getMementoPicked = document.getElementById('picked_chair');
        var mementoContent = getPickedChair1.join(' ');

        getMementoPicked.innerHTML = mementoContent;
        updatePrice(1);

        // Gắn sự kiện 'onclick' cho từng ghế với dữ liệu đầu vào riêng (thực hiện memento ở đây)
        buttons.forEach(function (button) {

            button.onclick = function () {
                var getPickedChair = document.getElementById('picked_chair');

                if (button.classList.contains('selected')) {

                    button.classList.remove('selected');

                    var content = getPickedChair.innerHTML;

                    if (button.classList.contains('vip'))
                    {
                        var removedItem = 'VIP_' + button.id;

                        var index = mementoListArray.indexOf(removedItem);
                        if (index !== -1) {
                            mementoListArray.splice(index, 1);
                        }

                        var regex = new RegExp(removedItem + "\\s*", "g");

                        content = content.replace(regex, "");
                        getPickedChair.innerHTML = content;
                    }
                    else
                    {
                        var index = mementoListArray.indexOf(button.id);
                        if (index !== -1) {
                            mementoListArray.splice(index, 1);
                        }

                        var regex = new RegExp(button.id + "\\s*", "g");

                        content = content.replace(regex, "");
                        getPickedChair.innerHTML = content;
                    }

                }
                else
                {
                    button.classList.add('selected');

                    if (button.classList.contains('vip'))
                    {
                        getPickedChair.innerHTML += 'VIP_' + button.id + " ";
                    }
                    else
                    {
                        getPickedChair.innerHTML += button.id + " ";
                    }
                }
                updatePrice(1);

                var pickedChairsArray = [];

                if (getPickedChair.innerHTML.trim() !== '') {
                    pickedChairsArray = getPickedChair.innerHTML.split(" ");
                }



                // Thêm giá trị từ mảng mementoListArray vào mảng pickedChairsArray nếu chưa tồn tại
                for (var i = 0; i < mementoListArray.length; i++) {
                    if (!pickedChairsArray.includes(mementoListArray[i])) {
                        pickedChairsArray.push(mementoListArray[i]);
                    }
                }

                saveToMemento(pickedChairsArray);
            };
        });

        function saveToMemento(tenGhe) {
            // Sử dụng Ajax để gửi dữ liệu ghế đến server để lưu vào Memento
            var getPickedChair = document.getElementById('picked_chair');
            $.ajax({
                url: "@Url.Action("ThemGhe", "Booking")",
                type: "POST",
                data: JSON.stringify({
                    "ten": tenGhe,
                }), // Gửi dữ liệu dưới dạng JSON
                contentType: "application/json; charset=utf-8", // Định dạng dữ liệu
                dataType: "json", // Đặt kiểu dữ liệu mà bạn mong đợi từ phản hồi

                success: function (response) {
                    console.log('Ghế đã được lưu vào Memento!');
                },
                error: function (error) {
                    console.error('Lỗi khi lưu ghế vào Memento!');
                }
            });

        }

        function updatePrice(maphim) {
            var getPickedChair = document.getElementById('picked_chair');
            $.ajax({
                url: "@Url.Action("updateViewPrice", "Booking")", // Đường dẫn đến phương thức kiểm tra tồn tại
                type: "POST",
                data: JSON.stringify({
                    "listloaighe": getPickedChair.innerHTML.trim(), "maphim": maphim,
                }), // Gửi dữ liệu dưới dạng JSON
                contentType: "application/json; charset=utf-8", // Định dạng dữ liệu
                dataType: "json", // Đặt kiểu dữ liệu mà bạn mong đợi từ phản hồi

                success: function (response) {
                    var price_chair = document.getElementById('price_chair');
                    price_chair.innerHTML = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(response.totalPrice) /*.toLocaleString('it-IT', { style: 'currency', currency: 'VND' })*/
                },

                error: function (xhr, status, error) {
                    console.error("Lỗi khi gửi yêu cầu: " + status + " - " + error);
                }
            });
        }

        function ShowTicket() {


            var picked_chair = document.getElementById('picked_chair');
            var price_chair = document.getElementById('price_chair');

            if (picked_chair.innerHTML.trim() == "") {
                alert("Vui lòng chọn ít nhất 1(một) ghế để có thể thực hiện đặt vé.");
            } else {
                 var getLichChieuID = @ViewBag.getChair_STT[0];
            var url = '@Url.Action("ShowTicket", "Booking")' +
                '?getIdLichChieu=' + getLichChieuID +
                        '&getListChairPicked=' + picked_chair.innerHTML.trim() +
                        '&getTotalMoney=' + price_chair.innerHTML.trim();

            window.location.href = url;
            }

        }
    </script>
</body>
</html>


