
@{
    ViewBag.Title = "FilmType";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminMasterLayout.cshtml";
}

<link href="~/Areas/AdminArea/Content/customermanager_style.css" rel="stylesheet" />
<nav class="header_nav">
    <a class="top_content">FILMTYPE MANAGER</a>
    @*<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sắp xếp
            </button>
            <div class="dropdown-menu" style="transform: translate3d(-94px, 38px, 0px)" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Theo tên </a>
                <a class="dropdown-item" href="#">Theo mã khách hàng</a>
                <a class="dropdown-item" href="#">Theo tổng hóa đơn</a>
            </div>
        </div>*@
</nav>
<div class="container">

    <br />
    <p class="smaller_content">Quản lý loại phim</p>
    <p class="smaller_content" style="color:red;">@ViewBag.ThongBaoLuu</p>

    @*nút thêm phim*@
    <button class="btn btn-secondary dropdown-toggle" type="button" id="addnewphim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom:20px;">
        Thêm loại phim
    </button>

    @*form thêm phim*@
    <form action="@Url.Action("FilmType", "Admin")" method="post" style="display: none;" id="formaddnew">

        @*tên loại phim*@
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Tên loại phim: </span>
            </div>
            <input type="text" class="form-control" name="TenLF" required>
        </div>

        @*mô tả loại phim*@
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mô tả: </span>
            </div>
            <input type="text" min="0" max="255" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" name="MoTaLF" required>
        </div>

        @*button xác nhận*@
        <button type="submit" class="btn btn-outline-info" name="status" value="Add">Xác nhận thêm loại phim mới</button>
    </form>

    <br />
    <div class="border-bottom"> </div>
    <br />
    <p class="smaller_content">Quản lý danh sách loại phim</p>
    <br />
    <button type="button" class="btn btn-secondary" id="button_showlist">Hiện danh sách</button>
    <br />
    <table class="table" style="display: none" id="list">
        <thead>
            <tr>
                <th scope="col">Mã loại</th>
                <th scope="col">Tên loại</th>
                <th scope="col">Mô tả</th>
            </tr>
        </thead>
        <tbody>

            @if (ViewBag.DSTLF != null)
            {
                foreach (var item in ViewBag.DSTLF)
                {
                    <form action="@Url.Action("UpdateFilmType", "Admin")" method="post">
                    <tr>
                        <th scope="row"><input name="MaTL" type="number" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" value="@item.MaTL" readonly required></th>
                        <td><input name="TenLF" type="text" min="0" max="255" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" value="@item.TenTL" required></td>
                        <td><input name="MoTaLF" type="text" min="0" max="255" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" value="@item.MoTaTL" required></td>
                        <td>
                            <button type="submit" class="btn btn-outline-info">Cập nhật</button>
                        </td>
                    </tr>
                    </form>
                }
            }

        </tbody>
    </table>
</div>


<script type="text/javascript">
    // Lấy tham chiếu đến button và thẻ cần ẩn/hiện
    var toggleButton = document.getElementById("button_showlist");
    var targetDiv = document.getElementById("list");

    // Gán sự kiện click cho nút (button)
    toggleButton.addEventListener("click", function () {
        // Kiểm tra xem thẻ đang ẩn hay hiện
        if (targetDiv.style.display === "none" || targetDiv.style.display === "") {
            // Nếu thẻ đang ẩn hoặc không có style display, thì hiển thị thẻ
            targetDiv.style.display = "table"; // Hoặc có thể sử dụng "inline" hoặc "inline-block" tùy vào loại thẻ
            toggleButton.innerHTML = "Ẩn danh sách"
        } else {
            // Nếu thẻ đang hiện, thì ẩn thẻ
            targetDiv.style.display = "none";
            toggleButton.innerHTML = "Hiện danh sách"
        }
    });

    // Lấy tham chiếu đến button và thẻ cần ẩn/hiện
    var addbt = document.getElementById("addnewphim");
    var form = document.getElementById("formaddnew");

    // Gán sự kiện click cho nút (button)
    addbt.addEventListener("click", function () {
        // Kiểm tra xem thẻ đang ẩn hay hiện
        if (form.style.display === "none" || form.style.display === "") {
            // Nếu thẻ đang ẩn hoặc không có style display, thì hiển thị thẻ
            form.style.display = "block"; // Hoặc có thể sử dụng "inline" hoặc "inline-block" tùy vào loại thẻ
        } else {
            // Nếu thẻ đang hiện, thì ẩn thẻ
            form.style.display = "none";
        }
    });


</script>
