
@{
    ViewBag.Title = "LichChieu";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminMasterLayout.cshtml";
}


@{
    ViewBag.Title = "KhachHang";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminMasterLayout.cshtml";
}

<link href="~/Areas/AdminArea/Content/customermanager_style.css" rel="stylesheet" />
<nav class="header_nav">
    <a class="top_content">LICHCHIEU MANAGER</a>

</nav>
<div class="container">

    <br />
    <p class="smaller_content">Quản lý khách hàng</p>
    <p class="smaller_content" style="color:red;">@ViewBag.ThongBaoLuu</p>

    @*nút thêm*@
    <button class="btn btn-secondary dropdown-toggle" type="button" id="addnewphim" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom:20px;">
        Thêm lịch chiếu
    </button>

    @*form thêm*@
    <form action="@Url.Action("LichChieu", "Admin")" method="post" style="display: none;" id="formaddnew">

        @*date*@
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Ngày: </span>
            </div>
            <input type="date" class="form-control" name="NgayLC" required>
        </div>

        @*status*@
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Trạng thái: </span>
            </div>
            <input type="text" class="form-control" name="TrangThaiLC" required>
        </div>

        @*amount*@
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Số lượng vé đặt: </span>
            </div>
            <input type="number" class="form-control" name="SLVeDat" value="0" required>
        </div>

        @*ca xc*@
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Ca XC: </span>
            </div>
            <input id="inputchoice" class="form-control" name="CaXC" readonly required>
            <select id="choice" style="width:10%; border-radius:0px 5px 5px 0px;" required>
                @if (ViewBag.GetXC != null)
                {
                    foreach (var item in ViewBag.GetXC)
                    {
                        <option value="@item[0]">@item[0]</option>
                    }
                }
            </select>
        </div>

        @*ma pc*@
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Mã PC: </span>
            </div>
            <input id="inputchoice123" class="form-control" name="MaPC" readonly required>
            <select id="choice123" style="width:10%; border-radius:0px 5px 5px 0px;" required>
                @if (ViewBag.GetPC != null)
                {
                    foreach (var item in ViewBag.GetPC)
                    {
                        <option value="@item[0]">@item[0]</option>
                    }
                }
            </select>
        </div>

        @*ma phim*@
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Phim: </span>
            </div>
            <input id="inputchoice456" class="form-control" name="MaPhim" readonly required>
            <select id="choice456" style="width:10%; border-radius:0px 5px 5px 0px;" required>
                @if (ViewBag.GetPhim != null)
                {
                    foreach (var item in ViewBag.GetPhim)
                    {
                        <option value="@item[0]">@item[0]</option>
                    }
                }
            </select>
        </div>


        @*button xác nhận*@
        <button type="submit" class="btn btn-outline-info" name="status" value="Add">Xác nhận thêm</button>
    </form>

    <br />
    <div class="border-bottom"> </div>
    <br />
    <p class="smaller_content">Quản lý danh sách phòng chiếu</p>
    <br />
    <button type="button" class="btn btn-secondary" id="button_showlist">Hiện danh sách</button>
    <br />
    <table class="table" style="display: none" id="list">
        <thead>
            <tr>
                <th scope="col">Mã LC</th>
                <th scope="col">Ngày</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Số lượng vé đặt</th>
                <th scope="col">Ca XC</th>
                <th scope="col">Mã PC</th>
                <th scope="col">Mã phim</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.GetLC != null)
            {
                foreach (var item in ViewBag.GetLC)
                {
                    <form action="@Url.Action("LichChieu", "Admin")" method="post">
                    <tr>
                        <th scope="row"><input name="MaLC" type="number" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" value="@item[0]" readonly required></th>
                        <td><input name="NgayLC" type="datetime" class="form-control" style="overflow: hidden; text-overflow: ellipsis; width: 300px;" value="@item[1]" required></td>
                        <td><input name="TrangThaiLC" type="text" min="0" max="255" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" value="@item[2]" required></td>
                        <td><input name="SLVeDat" type="number" min="0" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" value="@item[3]" required></td>
                        <td><input name="CaXCDetail" type="number" min="0" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" value="@item[4]" required></td>
                        <td><input name="MaPCDetail" type="number" min="0" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" value="@item[5]" required></td>
                        <td><input name="MaPhimDetail" type="number" min="0" class="form-control" style="overflow: hidden; text-overflow: ellipsis;" value="@item[6]" required></td>
                        <td>
                            <button type="submit" class="btn btn-outline-info" name="status" value="Update">Cập nhật</button>
                        </td>
                    </tr>
                    </form>
                }
            }

        </tbody>
    </table>
</div>


<script type="text/javascript">
    // Lấy tham chiếu đến button và thẻ cần ẩn/hiện
    var toggleButton = document.getElementById("button_showlist");
    var targetDiv = document.getElementById("list");

    // Gán sự kiện click cho nút (button)
    toggleButton.addEventListener("click", function () {
        // Kiểm tra xem thẻ đang ẩn hay hiện
        if (targetDiv.style.display === "none" || targetDiv.style.display === "") {
            // Nếu thẻ đang ẩn hoặc không có style display, thì hiển thị thẻ
            targetDiv.style.display = "table"; // Hoặc có thể sử dụng "inline" hoặc "inline-block" tùy vào loại thẻ
            toggleButton.innerHTML = "Ẩn danh sách"
        } else {
            // Nếu thẻ đang hiện, thì ẩn thẻ
            targetDiv.style.display = "none";
            toggleButton.innerHTML = "Hiện danh sách"
        }
    });

    // Lấy tham chiếu đến button và thẻ cần ẩn/hiện
    var addbt = document.getElementById("addnewphim");
    var form = document.getElementById("formaddnew");

    // Gán sự kiện click cho nút (button)
    addbt.addEventListener("click", function () {
        // Kiểm tra xem thẻ đang ẩn hay hiện
        if (form.style.display === "none" || form.style.display === "") {
            // Nếu thẻ đang ẩn hoặc không có style display, thì hiển thị thẻ
            form.style.display = "block"; // Hoặc có thể sử dụng "inline" hoặc "inline-block" tùy vào loại thẻ
        } else {
            // Nếu thẻ đang hiện, thì ẩn thẻ
            form.style.display = "none";
        }
    });

    var choice = document.getElementById("choice");
    var inputchoice = document.getElementById("inputchoice");

    choice.onchange = function () {
        var selectchoice = choice.value;

        inputchoice.value = selectchoice;
    };

    var choice123 = document.getElementById("choice123");
    var inputchoice123 = document.getElementById("inputchoice123");

    choice123.onchange = function () {
        var selectchoice123 = choice123.value;

        inputchoice123.value = selectchoice123;
    };

    var choice456 = document.getElementById("choice456");
    var inputchoice456 = document.getElementById("inputchoice456");

    choice456.onchange = function () {
        var selectchoice456 = choice456.value;

        inputchoice456.value = selectchoice456;
    };


</script>









