<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="~/Areas/AdminArea/Content/admin_style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="admin_container">
        <div class="navbar_admin">
            <div class="category_container" style="max-height: 100%; min-height: fit-content; background: #2C3333;">
                <a id="qldonhang" href="#" class="menu_header">ADMINISTRATOR</a>

                @{
                    var sQLUser = CNPMNC_REPORT1.SQLData.SQLUser.Instance;
                    var nv = new CNPMNC_REPORT1.Models.User.NhanVien();

                    nv = sQLUser.NV;

                    List<string> managedPages = new List<string>();
                    var nvProxy = new CNPMNC_REPORT1.Proxy.NVProxy.NhanVienProxy(nv);

                    managedPages = nvProxy.PhanLoaiTrangTheoLNV();

                    if (Session["Admin"]==null)
                    {

                    }

                    foreach (var page in managedPages)
                    {
                        <a href="@Url.Action(page, "Admin")" class="menu_category">@page</a>
                    }
                }

                <a class="menu_category" href="~/Home/Index">Thoát</a>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" defer>
        var element = document.getElementById("@ViewBag.Title");
        element.style.backgroundColor = "#CBE4DE";
        element.style.color = "#2C3333";
    </script>
</body>
</html>

@*<a id="ReportHD" href="Url.Action("ReportHD", "Admin")" class="menu_category" style="display: none;">Báo cáo thống kê</a>

    <a id="NhanVien" href="Url.Action("NhanVien", "Admin")" class="menu_category" style="display: none;">Nhân viên</a>
<a id="StaffManager" href="@Url.Action("NVType", "Admin")" class="menu_category">Loại nhân viên</a>
<a id="XuatChieu" href="Url.Action("XuatChieu", "Admin")" class="menu_category" style="display: none;">Xuất chiếu</a>

<a id="LichChieu" href="Url.Action("LichChieu", "Admin")" class="menu_category" style="display: none;">Lịch chiếu</a>

<a id="LoaiGhe" href="Url.Action("LoaiGhe", "Admin")" class="menu_category" style="display: none;">Loại ghế</a>

<a id="KhachHang" href="Url.Action("KhachHang", "Admin")" class="menu_category" style="display: none;">Khách hàng</a>

<a id="KHType" href="Url.Action("KHType", "Admin")" class="menu_category" style="display: none;">Loại khách hàng</a>

<a id="Film" href="Url.Action("Film", "Admin")" class="menu_category" style="display: none;">Phim</a>

<a id="FilmType" href="Url.Action("FilmType", "Admin")" class="menu_category" style="display: none;">Thể loại phim</a>

<a id="TheLoaiVaPhim" href="Url.Action("TheLoaiVaPhim", "Admin")" class="menu_category" style="display: none;">Thể loại và phim</a>

<a id="AgeLimit" href="Url.Action("AgeLimit", "Admin")" class="menu_category" style="display: none;">Giới hạn tuổi</a>

<a id="Room" href="Url.Action("Room", "Admin")" class="menu_category" style="display: none;">Phòng chiếu</a>

<a id="RoomType" href="Url.Action("RoomType", "Admin")" class="menu_category" style="display: none;">Loại phòng chiếu</a>*@
