@using System.Globalization;
@{
    ViewBag.Title = "AccountPage";
    Layout = null;
    CultureInfo culture = new CultureInfo("vi-VN");

}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">

<style>
    body {
        background: rgb(99, 39, 120)
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }

    a{
        text-decoration: none;
        color: black;
        cursor: default;
    }
    a:hover{
        color: black;
    }
</style>


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <a href="@Url.Action("Index","Home")" style="width: 100%; cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom: -20px; margin-top: 20px;" width="30" height="35" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                </svg>
            </a>
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">@Model.TenTKKH</span>
                <span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <form method="post" action="@Url.Action("AccountPage", "Home", new { TenTK = Model.TenTKKH })">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                        <h4 class="text-right" style="font-size: 20px; color: red;">@ViewBag.ThongBao</h4>
                    </div>

                    <div class="row mt-3">
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="text">Username</label>
                                <input id="TenTKID" name="TenTK" type="text" class="form-control" value="@Model.TenTKKH" required>

                            </div>

                            <div class="col-md-12">
                                <label class="text">Email</label>
                                <input id="EmailID" name="Email" type="email" class="form-control" value="@Model.EmailKH" required>

                            </div>

                            <div class="col-md-12">
                                <label class="text">Password</label>
                                <input id="PassID" name="Pass" type="text" min="8" class="form-control" value="@Model.MatKhauKH" required>

                            </div>

                            <div class="col-md-12">
                                <label class="text">Account Type</label>
                                <input id="ACID" name="AC" type="text" class="form-control" readonly value="@Model.MaLoaiKH" required>

                            </div>

                            <div class="mt-5 text-center">
                                <button class="btn btn-primary profile-button" type="submit">
                                    Save Profile
                                </button>
                            </div>
                        </div>
                    </div>
            </form>
        </div>
    </div>

    <div class="col-md-3 p-3 py-5  rounded bg-white mt-5 mb-5" style="width: 100%; margin:0;">
        <h3 class="header-text">
            Vé đã đặt
        </h3>
        <br />
        <div class="date_container" style="height: 330px; width: 100%; overflow: scroll; ">
            <div style="display: flex; flex-direction: row;">

            </div>
            @if (ViewBag.GetDate != null)
            {
                foreach (var item in ViewBag.GetDate)
                {
                    <div class="col">
                        <span class="date" style="font-weight: bold; margin-bottom: 15px;">@item.NgayDat</span>
                        <br />
                        @if (ViewBag.GetVP != null)
                        {
                            foreach (var item1 in ViewBag.GetVP)
                            {
                                if (item1.NgayDat == item.NgayDat)
                                {
                                    <div style="display: flex; flex-direction: row;">
                                        <input class="form-control" style="margin: 5px;" value="@item1.MaVe" readonly />
                                        <input class="form-control" style="margin: 5px;" value="@item1.TenPhim" readonly />
                                        <input class="form-control" style="margin: 5px;" value="@item1.TenPC" readonly />
                                        <input class="form-control" style="margin: 5px;" value="@item1.TenGheVG" readonly />
                                        <input class="form-control" style="margin: 5px;" value="@DateTime.Parse(item1.NgayLC).ToString("dd/MM/yyyy")" readonly />
                                        <input class="form-control" style="margin: 5px;" value="@DateTime.ParseExact(item1.GioXC, "HH:mm:ss", CultureInfo.InvariantCulture).ToString("HH:mm")" readonly />
                                    </div>
                                }

                            }
                        }
                    </div>
                }
            }
        </div>
    </div>

</div>

<script>

    // Lấy các phần tử input và button
    var emailInput = document.getElementById("EmailID");
    var emailButton = document.getElementById("EmailED");
    var passInput = document.getElementById("PassID");
    var passButton = document.getElementById("PassED");

    // Đăng ký sự kiện click cho các button
    emailButton.addEventListener("click", function () {
        // Đảo ngược giá trị của thuộc tính readonly của emailInput
        emailInput.toggleAttribute("readonly");
    });
    passButton.addEventListener("click", function () {
        // Đảo ngược giá trị của thuộc tính readonly của passInput
        passInput.toggleAttribute("readonly");
    });
    
</script>