
@{
    ViewBag.Title = "FilmDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Get Date
    string dateString = ViewBag.getFilmById123[0][3];
    string result = "";
    if (dateString.Length != 0)
    {
        DateTime dateTime = DateTime.Parse(dateString);

        // Chuyển đổi thành ngày chỉ (bỏ qua phần giờ, phút, giây)
        DateTime dateOnly = dateTime.Date;

        // Định dạng lại thành chuỗi
        result = dateOnly.ToString("dd/MM/yyyy");
    }


}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<style>

    body {
        background-color: #2C3333;
    }
    /* #REGION FILM DETAIL */

    .film_info {
        width: 100%;
        display: flex;
    }

        .film_info .film_img_container {
            flex-basis: 40%;
            max-width: 40%;
            overflow: hidden;
            min-height: 300px;
            border: 5px solid white;
            box-sizing: border-box;
        }

            .film_info .film_img_container > img {
                object-fit: fill;
                height: 100%;
                width: 100%;
            }

        .film_info .film_info_container {
            flex-basis: 60%;
            border: 2px solid white;
            padding: 20px;
        }

            .film_info .film_info_container > h2 {
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                font-size: 32px;
                color: #fff;
                text-align: left;
                letter-spacing: 2px;
            }

    .film-overview {
        max-height: inherit;
        overflow: inherit;
        display: table;
        margin-bottom: 10px;
    }

    .l-title {
        display: table-cell;
        width: 150px;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
        font-size: 22px;
        vertical-align: middle;
        color: #fff;
        vertical-align: text-top;
    }

    .l-value {
        display: table-cell;
        line-height: 18px;
        background-color: #fff;
        font-family: 'Arial';
        font-size: 20px;
        color: #000;
        border-radius: 20px 0 20px 0;
        -webkit-border-radius: 20px 0 20px 0;
        padding: 12px 30px;
        vertical-align: middle;
        line-height: 22px;
    }

    .cart-btn {
        background-color: #e00d7a;
        font-weight: normal;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 30px;
        color: #fff;
        border-radius: 30px 0 30px 30px;
        -webkit-border-radius: 30px 0 30px 30px;
        line-height: 52px;
        padding: 0 20px;
        height: 52px;
        display: inline-block;
        vertical-align: middle;
        width: 146px;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        cursor: pointer;
        margin: 5px 2px;
        box-shadow: 5px 5px 0 rgba(0,0,0,0.1);
        text-decoration: none;
    }

        .cart-btn:hover {
            text-decoration: none;
            background-color: #fecf06;
            color: #000;
        }

    .film_info .film_info_container > .btn_trailer {
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 30px;
        text-decoration: none;
        vertical-align: middle;
        background-color: black;
    }

    .film_info .film_info_container .btn_trailer :hover {
        background-color: white;
        color: black;
    }

    .section_filmdetail {
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    /* #ENDREGION FILM DETAIL*/



    .footer-copy {
        display: none;
    }

    .download {
        display: none;
    }

    /*COMMENT CSS*/
    .date {
        font-size: 11px
    }

    .comment-text {
        font-size: 12px
    }

    .fs-12 {
        font-size: 12px
    }

    .shadow-none {
        box-shadow: none
    }

    .name {
        color: #007bff
    }

    .cursor:hover {
        color: blue
    }

    .cursor {
        cursor: pointer
    }

    .textarea {
        resize: none
    }

    /*COMMENT SECTION*/



</style>

<div class="container section_filmdetail" style="background-color: #2C3333; min-height: 100vh; display: flex; align-items: center; ">
    @if (ViewBag.getFilmById123 != null)
    {
        foreach (var a in ViewBag.getFilmById123)
        {
            <div class="film_info" style="display: flex; flex-direction: row; margin: 0; padding-top: 100px;">
                <div class="film_img_container">
                    <img src="~/img_phim/@a[7]" alt="Alternate Text" />
                </div>

                <div class="film_info_container">
                    <h2>@a[1]</h2>
                    <div class="film-overview">
                        <span class="l-title">Khởi chiếu:</span>
                        <span class="l-value">@result</span>
                    </div>
                    <div class="film-overview">
                        <span class="l-title">Thời lượng:</span>
                        <span class="l-value">@a[4] Phút</span>
                    </div>
                    @*<div class="film-overview">
                            <span class="l-title">Lượt mua:</span>
                            <span class="l-value">@a[5]</span>
                        </div>
                        <div class="film-overview">
                            <span class="l-title">Lượt thích:</span>
                            <span class="l-value">@a[6]</span>
                        </div>*@
                    <div class="film-overview">
                        <span class="l-title">Độ tuổi: </span>
                        <span class="l-value">@a[13]</span>
                    </div>
                    <div class="film-overview">
                        <span class="l-title">Mô tả:</span>
                        <span class="l-value">@a[2]</span>
                    </div>
                    <p style="color: #fff; font-size: 16px"></p>

                    <a class="cart-btn fontsize14" style="width: 100%; text-align: center;" href="@Url.Action("LichChieu", "Booking", new { maphim = a[0]})">Mua vé</a>
                </div>
            </div>
        }
    }
</div>

<div class="empty_box"></div>


<div id="targetElement" class="container section_filmdetail">
    <!-- 4:3 aspect ratio -->
    <h1 style="color: white; text-align:center">TRAILER</h1>
    <div style="padding: 15px; border: 5px solid black; border-radius: 50px; ">
        <div class="embed-responsive embed-responsive-4by3" style="width: 1300px; height: 500px; border-radius: 30px; box-shadow: 0 0 0 15px;">
            <iframe class="embed-responsive-item" width="500" height="500" src="@ViewBag.GetEmbedLink" title="@ViewBag.getFilmById123[0][1]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="empty_box"></div>

<style>

    .comments {
        margin-top: 5%;
        margin-left: 20px;
    }

    .darker {
        border: 1px solid #ecb21f;
        background-color: black;
        float: right;
        border-radius: 5px;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 10px;
    }

    .comment {
        border: 1px solid rgba(16, 46, 46, 1);
        background-color: rgba(16, 46, 46, 0.973);
        float: left;
        border-radius: 5px;
        padding-left: 40px;
        padding-right: 30px;
        padding-top: 10px;
        min-width: 80%;
    }

        .comment h4, .comment span, .darker h4, .darker span {
            display: inline;
        }

        .comment p, .comment span, .darker p, .darker span {
            color: rgb(184, 183, 183);
        }

    h1, h4 {
        color: white;
        font-weight: bold;
    }

    label {
        color: rgb(212, 208, 208);
    }

    #align-form {
        margin-top: 20px;
    }

    .form-group p a {
        color: white;
    }

    #checkbx {
        background-color: black;
    }

    #darker img {
        margin-right: 15px;
        position: static;
    }

    .form-group input, .form-group textarea {
        background-color: black;
        border: 1px solid rgba(16, 46, 46, 1);
        border-radius: 12px;
    }

    form {
        border: 1px solid rgba(16, 46, 46, 1);
        background-color: rgba(16, 46, 46, 0.973);
        border-radius: 5px;
        padding: 20px;
    }
</style>
<section style="background-color: black;">
    <div class="container">
        @* List comments *@
        <div class="row">
            <div class="col-sm-7 col-md-9 col-12 pb-4">
                <h1>Comments</h1>
                @foreach (var bl in ViewBag.getBL)
                {
          
                <div class="comment mt-2 text-justify float-left">
                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="30" height="30">
                    <h4>@bl[1]</h4>
                    <span>@DateTime.Parse(bl[2]).ToString("MMM dd, yyyy HH:mm:ss tt")</span>
                    <br>
                    <p>@bl[0]</p>
                    @if (Session["Username"] as string == bl[1])
                    {
                        <a href="@Url.Action("DeleteComment", "Home", new { mabl = bl[3], maphim = ViewBag.getFilmById123[0][0]})" style="color: white">Xoá bình luận</a>
                    }
                </div>
                    
                }

            </div>
        </div>
        <div class="row">
            @* Post comment *@
            <form action="@Url.Action("FilmDetail","Home")" method="post" style="border: none; background-color:  inherit">
                <h4 style="color: white">Leave your comment here</h4>
                <input name="IDPhim" style="display: none;" value="@ViewBag.getFilmById123[0][0]" />
                <div class="bg-light p-2" style="border-radius: 10px">
                    <p class="smaller_content" style="color:red;">@ViewBag.ThongBao</p>
                    <div class="d-flex flex-row align-items-start">
                        <img class="rounded-circle" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="40">
                        <textarea id="inputComment" class="form-control ml-1 shadow-none textarea" name="GhiChu" placeholder="Đăng nhập để có thể bình luận phim" required></textarea>
                    </div>
                    <div class="mt-2 text-right">
                        <button id="btnSubmit" name="status" value="Post" class="btn btn-info" type="submit">Post comment</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@if (Session["Username"] == null)
{
    <script>
        var getbtnSubmit = document.getElementById("btnSubmit");
        getbtnSubmit.disabled = true;

        var inputComment = document.getElementById("inputComment");
        inputComment.disabled = true;
    </script>
}

