
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Font Google -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<style>
    body {
        background: #ddd;
        min-height: 100vh;
        vertical-align: middle;
        display: flex;
        font-family: sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .title {
        margin-bottom: 5vh;
    }

    .card {
        margin: auto;
        max-width: 950px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent;
    }

    media(max-width:767px) {
        .card

    {
        margin: 3vh auto;
    }

    }

    .cart {
        background-color: #fff;
        padding: 4vh 5vh;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    media(max-width:767px) {
        .cart

    {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }

    }

    .summary {
        background-color: #ddd;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        padding: 4vh;
        color: rgb(65, 65, 65);
    }

    media(max-width:767px) {
        .summary

    {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem;
    }

    }

    .summary .col-2 {
        padding: 0;
    }

    .summary .col-10 {
        padding: 0;
    }

    .row {
        margin: 0;
    }

    .title b {
        font-size: 1.5rem;
    }

    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%;
    }

    .col-2, .col {
        padding: 0 1vh;
    }

    a {
        padding: 0 1vh;
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem;
    }

    img {
        width: 3.5rem;
    }

    .back-to-shop {
        margin-top: 4.5rem;
    }

    h5 {
        margin-top: 4vh;
    }

    hr {
        margin-top: 1.25rem;
    }

    form {
        padding: 2vh 0;
    }

    select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247);
    }

        input:focus::-webkit-input-placeholder {
            color: transparent;
        }

    .btn {
        background-color: #000;
        border-color: #000;
        color: white;
        width: 100%;
        font-size: 0.7rem;
        margin-top: 4vh;
        padding: 1vh;
        border-radius: 0;
    }

        .btn:focus {
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none;
        }

        .btn:hover {
            color: white;
        }

    a {
        color: black;
    }

        a:hover {
            color: black;
            text-decoration: none;
        }

    #code {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
        background-repeat: no-repeat;
        background-position-x: 95%;
        background-position-y: center;
    }
</style>

<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Movie Ticket</b></h4></div>
                    @*<p class="smaller_content" style="color:red;">@ViewBag.ThongBao</p>*@
                    @if (ViewBag.GetCountVP != null)
                    {
                        <div class="col align-self-center text-right text-muted">@ViewBag.GetCountVP[0][0] tickets</div>
                    }
                    else
                    {
                        <div class="col align-self-center text-right text-muted">0 tickets</div>
                    }

                </div>
            </div>

            
            @if (ViewBag.GetDSVP != null)
            {
                foreach (var a in ViewBag.GetDSVP)
                {
                    <form action="@Url.Action("Index", "Store")" method="post">
                        <div class="row border-bottom" style="padding-bottom: 3px;">
                            <input name="MaVe" value="@a[5]" style="display: none;" />
                            <div class="row main align-items-center">
                                <div class="col-2"><span style="width: fit-content;">@a[5]</span></div>
                                <div class="col-2"><img class="img-fluid" style="margin-left: -25px;" src="~/img_phim/@a[1]"></div>
                                <div class="col" style="margin-right: 15px;">
                                    <div class="row text-muted">Film Name</div>
                                    <div class="row">@a[0]</div>
                                </div>

                                <div class="col">
                                    <div class="row text-muted">Date Book</div>
                                    <div class="row">@String.Format("{0:dd/MM/yyyy}", a[4])</div>
                                </div>

                                <div class="col">
                                    <div class="row text-muted">Date Show</div>
                                    <div class="row">@String.Format("{0:dd/MM/yyyy}", a[3])</div>
                                </div>

                                <input name="ThanhTien" value="0" style="display: none;" />
                                <input name="TongGia" value="0" style="display: none;" />

                                <a href="@Url.Action("XoaVe", "Store", new { maVe = a[5] })" class="close" style="cursor: pointer; padding: 3px; text-decoration: none;" name="status" value="Delete">&#10005;</a>
                            </div>

                            <div class="col"><span style="float: right;" id="price_format">@a[2] VND</span></div>
                        </div>
                    </form>
                }
            }

            <div class="back-to-shop"><a href="@Url.Action("Index","Home")">&leftarrow; Back to home</a></div>
        </div>


        <div class="col-md-4 summary">
            <div><h5><b>Totals</b></h5></div>
            <hr>
            <div class="row">

                @if (ViewBag.GetCountVP != null)
                {
                    <div class="col" style="padding-left:0;">TICKETS @ViewBag.GetCountVP[0][0]</div>
                }
                else
                {
                    <div class="col" style="padding-left:0;">TICKETS 0</div>
                }

                @{
                    int sum = 0;
                    if (ViewBag.GetDSVP != null)
                    {
                        foreach (var a1 in ViewBag.GetDSVP)
                        {
                            sum = sum + int.Parse(a1[2]);
                        }
                    }


}
                @if (sum > 0)
                {
                    <div class="col text-right"> @sum VND </div>
                }
                else
                {
                    <div class="col text-right"> 0 VND </div>
                }
                
            </div>
            <form>
                <p>ADDRESS</p>
                <div class="col text-right" style="margin-bottom: 15px; margin-top: -10px;">10 QL22, Tân Xuân, Hóc Môn, Thành phố Hồ Chí Minh</div>
                <div class="row">
                    <p>PHONE</p>
                    <div class="col text-right">0901693203</div>
                </div>
            </form>

            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">TOTAL PRICE</div>
                @*{
                    int sum1 = 0;
                    if (ViewBag.GetDSVP != null)
                    {
                        foreach (var a1 in ViewBag.GetDSVP)
                        {
                            sum1 = sum1 + int.Parse(a1[2]);
                        }
                    }
                }*@
                @if (sum > 0)
                {
                    <div class="col text-right"> @sum VND </div>
                }
                else
                {
                    <div class="col text-right"> 0 VND </div>
                }
                
            </div>

            <form action="@Url.Action("Index","Store")" method="post">

                @if (sum > 0)
                {
                    <input name="TongGia" value="@sum" style="display: none;" />
                }
                else
                {
                    <input name="TongGia" value="0" style="display: none;" />
                }

                @if (ViewBag.GetDSVP == null)
                {
                    <input name="ThanhTien" value="0" style="display: none;" />
                }
                else
                {
                    <input name="ThanhTien" value="@ViewBag.GetDSVP[0][2]" style="display: none;" />
                }

                <button name="status" value="ThanhToan" type="submit" class="btn" style="font-weight: bold;">BUY</button>
            </form>

        </div>
    </div>

</div>

<script>
    
</script>

